<!DOCTYPE html>
<html lang="en">
<head>
  <title>ABACUS | About us</title>
  <% include commonHeadElements.html %>
</head>
<body style="margin-top: 8%;overflow:inherit">
<% include navigation_bar.html %>
	<div class="container aboutimage">
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive" src="/static/images/aboutus.jpg" alt="aboutus image"  width="100%">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h4>ABACUS:</h4>
               <p>Abacus is a Computer Science Society in GLA University.This Soiety handles all events, workshops& Festivals in Computer Science Department.
				    It is a technical society managed by the students of the department. ABACUS organizes various creative events like inter-institute technical, co-curricular and extra co-curricular activities in the department. These events help students to improve their logical reasoning, communication skills and over-all personality.
			   </p>
			</div>
			<div class="col-md-2"></div>	
		</div>
	</div>
<% include footer.html %>
<% include commonFooterScriptElements.html %>
</body>
</html>
