<meta charset="utf-8">
<link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/styles/core/ripple.css">
<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/styles/core/w3.css">
