<script src="/node_modules/jquery/dist/jquery.min.js"></script>
<!---<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>--->
<script src="/static/scripts/w3.js"></script>
<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/static/scripts/ripple.js"></script>
<script type="text/javascript" src="/node_modules/jquery-lazy/jquery.lazy.min.js"></script>
<script type="text/javascript" src="/node_modules/jquery-lazy/jquery.lazy.plugins.min.js"></script>
<script>

    $(function() {
        $('.lazy').lazy({
            placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7..."
        });
    });

</script>
