<style>

    .myicons:hover {
        color: teal;
    }

    .footer {

        padding:30px;
        margin: 0;
        background-color:#26A69A;
        color: white;

    }

    .footer .social {

        font-size: 20px;
        height: 30px;
        width: 30px;
        text-align: center;
        padding: 5px;
        border: 1px solid #cccccc;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .footer input {

        height: 40px;
        width: 160px;
        padding: 5px;
        border: none;
        background-color: #cccccc;
        color: #000;
    }

    .length {
        max-height: 30%;
    }

    .text-links {
        font-size: 15px;
        margin-left:10%
    }
    .btn-social{
        border: 1px solid #fff;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        font-size: 20px;
        line-height: 34px;
    }
    .btn-outline {
        color: #fff;
        font-size: 15px;
        border: 2px solid #fff;
        background: 0 0;
        transition: all .3s ease-in-out;
        
    }
    .btn-social, .scroll-top, .scroll-top .btn {
        width: 38px;
        height: 38px;
    }
    .btn-social:hover{background: white;}


</style>
<div class="row aboutdiv" style="margin-top: 20px;">
    <div class="row">
    <div class="col-sm-12">
        <div id="footer" class="footer">

            <div class="row">
                <div class="col-lg-3 col-md-3" >
					<div>
                    <p class="wow fadeInUp" style="font-size: 30px;margin-left:10%"><strong>Contact Us</strong></p>
                    <p class="text-links"><i class="fa fa-home" aria-hidden="true"></i><a target="_blank" href="https://www.google.co.in/maps/place/GLA+University/@27.6044327,77.5909866,323a,35y,55.87h,32.81t/data=!3m1!1e3!4m5!3m4!1s0x0:0xfe5fc3da92c6341!8m2!3d27.6055924!4d77.5930345?hl=en" style="color: white">Admin block-1,GLA University <i class="fa fa-external-link"></i></a></p>
                    <p class="text-links"><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto://abacussocietygla@gmail.com" style="color: white"> abacussocietygla@gmail.com <i class="fa fa-external-link"></i></a> </p>
                    <p class="text-links"><i class="fa fa-phone" aria-hidden="true"></i> +91 7464847884</p>
                    <p class="text-links"><i class="fa fa-globe" aria-hidden="true"></i><a href="http://www.abacuscea.in" style="color:white"> www.abacuscea.in <i class="fa fa-external-link"></i></a></p>
                    <p class="text-links"><i class="fa fa-envelope-open" aria-hidden="true"> </i> <a href="/contact" style="color: white;margin-left: 2%">Contact Us <i class="fa fa-external-link"></i></a></p>
					</div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <p style="font-size: 30px;margin-left:10%" class="wow fadeInUp"><strong>About</strong></p>
                    <p class="text-links"><i class="fa fa-square-o" aria-hidden="true"></i><a href="/about" style="color: white;margin-left: 2%">About Us <i class="fa fa-external-link"></i></a></p>
                    <p class="text-links"><i class="fa fa-square-o" aria-hidden="true"></i><a href="/terms" target="_blank" style="color: white;margin-left: 2%">Privacy Policy <i class="fa fa-external-link"></i></a></p>
                    <p class="text-links"><i class="fa fa-square-o" aria-hidden="true"></i><a href="/terms" style="color: white;margin-left: 2%" target="_blank"> Term & Condition <i class="fa fa-external-link"></i></a> </p>

                    <p class="text-links"><i class="fa fa-square-o" aria-hidden="true"></i><a href="/developer"
                                                                                              style="color: white;margin-left: 2%"
                                                                                              target="_blank">Developers <i class="fa fa-external-link"></i></a>
                    </p>
                </div>
               
               
                <div class="col-lg-3 col-md-3">
					
                  <div class="row">
                        <div class="col-md-12">
                            <p style="font-size: 30px;margin-left:10%" class="wow fadeInUp"><strong><span style="">Stay in touch  </span></strong></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" >
							<a style="margin-left:10%" class="btn-social btn-outline" href="https://www.facebook.com/Abacus-1459079240802286/?ref=bookmarks" target="_blank" style="margin-left:5%">
							<i class="fa fa-fw fa-facebook" aria-hidden="true"></i></a>
							<a class="btn-social btn-outline myicons"
						   href="https://www.google.co.in/search?q=gla+twitter&oq=gla+tw&aqs=chrome.2.69i57j0l5.4274j0j4&sourceid=chrome&ie=UTF-8#"
						   target="_blank"> <i class="fa fa-fw fa-twitter" aria-hidden="true"></i></a>
						   <a class="btn-social btn-outline y"
						   href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwi8noCDzvbUAhVGpo8KHZ6_CCwQFgghMAA&url=https%3A%2F%2Fwww.youtube.com%2Fuser%2FOfficialGLAuniv&usg=AFQjCNGBp1AO3wdqjAfQeERwHs7owtLzMw"
						   target="_blank"> <i class="fa fa-fw fa-youtube" aria-hidden="true"></i></a>
						   <a class="btn-social btn-outline"
						   href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwikqvHvzfbUAhVJr48KHeDkClsQFgghMAA&url=https%3A%2F%2Fplus.google.com%2F117725914128868840841&usg=AFQjCNH5SuuDHy2eMowogh0ReTpYT_AJ9g"
						   target="_blank"> <i class="fa fa-fw fa-google-plus" aria-hidden="true"></i></a>
						  
                        </div>
                    </div>
                    </div>
                 <br>
                    <div class="col-lg-3 col-md-3">
                  
                    <div class="row">
                    <div class="col-md-12">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1382.8982963221772!2d77.59273596316086!3d27.605482808938902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe5fc3da92c6341!2sGLA+University!5e0!3m2!1sen!2sin!4v1522960637318" width="250" height="200" frameborder="0" style="border:0;margin-left:10%" allowfullscreen></iframe>                    </div>
                   </div>
                </div>
                
                
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="row" style="background-color: rgba(44,62,80,1)">
    <div class="col-md-12">
        <p style="color: white;text-align: center;padding-top:4px;padding-bottom: 4px;margin-bottom: 0;font-size: 15px">
            Copyright &#169; 2018, Abacus, All Rights Reserved</p>
    </div>
</div>
